{% extends 'backend/layout/base.html' %}
{% block title %}
    <title>Leads and enquiries</title>
{% endblock %}
{% block content %}
    <main class="page-content">
        <!--breadcrumb-->
        <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
            <div class="breadcrumb-title pe-3">Tables</div>
            <div class="ps-3">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mb-0 p-0">
                        <li class="breadcrumb-item"><a href="javascript:;"><i class="bx bx-home-alt"></i></a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">Leads & Enquiries</li>
                    </ol>
                </nav>
            </div>
            <div class="ms-auto">
                <div class="btn-group">
                    <button type="button" class="btn btn-primary">Settings</button>
                </div>
            </div>
        </div>
        <!--end breadcrumb-->
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show text-center" role="alert">
                {{ message.message }}
            </div>
        {% endfor %}
        <h6 class="mb-0 text-uppercase">Leads and enquiries</h6>
        <hr>
        <div class="card">
            <div class="card-body">
                <div class="table-responsive table-bordered">
                    <table id="leadsTable" class="table table-striped table-bordered">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Contact</th>
                            <th>Course</th>
                            <th>Message</th>
                            <th>Date</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for enquiry in enquiries %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ enquiry.name }}</td>
                                <td>{{ enquiry.email }}</td>
                                <td>{{ enquiry.phone }}</td>
                                <td>{{ enquiry.course }}</td>
                                <td>{{ enquiry.message|truncatechars:10 }}</td>
                                <td>{{ enquiry.created_at|date:"j-m-y G:i" }}</td>
                                <td>{{ enquiry.status }}</td>
                                <td>
                                    <a href="{% url 'backend_leads_enquiry_details' enquiry.pk %}"
                                       class="btn btn-primary btn-sm">View</a>
                                    <a href="{% url 'backend_leads_enquiry_update' enquiry.pk %}"
                                       class="btn btn-warning btn-sm">Update</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>
    
    <script>
        $(document).ready(function () {
            var table = $('#leadsTable').DataTable({
                lengthChange: false,
                buttons: ['copy', 'excel', 'pdf', 'print']
            });

            table.buttons().container()
                .appendTo('#leadsTable_wrapper .col-md-6:eq(0)');
        });
    </script>

{% endblock %}