{% extends 'frontend/base.html' %}
{% block title %}
    <title>Pass events</title>
{% endblock %}
{% block content %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
          integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <style>
        .main-read {
            font-weight: 400;
            font-size: 14px;
            color: #ee1d23;
            border: 1px solid;
            border-radius: 5px;
            padding: 5px 10px;
            background-color: #f4511e00;
            transition: all 0.5s;
            cursor: pointer;
            text-align: center;
            margin: 0 auto;
            display: table;
        }

        .main-read span {
            cursor: pointer;
            color: #ff3133;
            display: inline-block;
            position: relative;
            transition: 0.5s;
        }

        .main-read :hover span {
            padding-right: 15px;
        }
    </style>
    <div class="inner-banner">
        <div class="container">
            <div class="col-sm-12">
                <h2>Past Events</h2>
            </div>
            <div class="col-sm-12 inner-breadcrumb">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li>Pages</li>
                    <li>Past Events</li>
                </ul>
            </div>
        </div>
    </div>
    <section class="inner-wrapper">
        <div class="custom-container">
            <div class="row">
                {% for event in events %}
                    <div class="col-md-4">
                        <div class="event-blok">
                            <div class="curriculum-event c-red" data-mh="curriculum">
                                <div class="curriculum-event-thumb">
                                    <img src="{{ event.banner.url }}" alt="">
                                    <div class="overlay-standard overlay--yellow"></div>
                                </div>
                                <div class="curriculum-event-content">
                                    <div class="icon-text-item display-flex">
                                        <i class="far fa-calendar-alt utouch-icon"></i>
                                        <div class="text">{{ event.date }} , {{ event.location }}</div>
                                    </div>
                                    <a href="#" class="h5 title">{{ event.title }}</a>
                                    <p class="event-pp">{{ event.description|truncatewords:100 }}</p>
                                    <a class="event-more " href="{% url 'view_event' event.slug %}">Read
                                        More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

{% endblock %}