{% extends 'frontend/base.html' %}
{% block title %}
    <title>{{ event.title }}</title>

{% endblock %}

{% block content %}
    <div class="inner-banner">
        <div class="container">
            <div class="col-sm-12">
                <h2>{{ event.title}}</h2>
            </div>
            <div class="col-sm-12 inner-breadcrumb">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li>Pages</li>
                    <li>{{ event.title }}</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Inner Banner Wrapper End -->
    <!--=======================bodypart========================-->

    <section class="inner-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="event-details-inner">
                        <div class="event-details-img">
                            <a href="#">
                                <img src="{{ event.banner.url }}"
                                     alt="Annual Exhibition 2022 - Style Direction" class="img-responsive">
                            </a>
                        </div>
                        <h2 class="title-default-left-bold-lowhight"><a href="#">{{ event.title }}</a></h2>
                        <ul class="event-info-inline title-bar-sm-high">
                            <li><i class="fa fa-calendar" aria-hidden="true"></i> {{ event.date}}</li>

                            <li><i class="fa fa-map-marker" aria-hidden="true"></i>{{ event.location}}</li>
                        </ul>
                        <p>{{ event.content|safe }}</p>
                    </div>
                </div>
            </div>

        </div>
    </section>

{% endblock %}