<footer class="ht-site-footer">

        <div class="container">
            <div id="ht-top-footer" class="row">
                <div class="col-md-3">
                    <h4 class="widget-title">Follow on Instagram</h4>
                    <iframe width="180" height="280" src="https://www.instagram.com/p/BxcuWkaA_4U/embed"
                            frameborder="0"></iframe>
                </div>
                <div class="col-md-3">
                    <h4 class="widget-title">QUICK LINKS</h4>
                    <div class="menu-footer_menu-container ht-footer">
                        <ul id="menu-footer_menu" class="menu">
                            <li class="menu-item "><a href="/">Home</a></li>
                            <li class="menu-item"><a href="{% url 'about_inifd' %}">About
                                Us</a></li>
                            <li class="menu-item "><a
                                    href="{% url 'fashion_design_course' %}">Fashion
                                Design</a></li>
                            <li class="menu-item"><a
                                    href="{% url 'interior_design_course' %}">Interior
                                Design</a></li>
                            <li class="menu-item "><a href="{% url 'contact_us' %}">Get in touch</a>
                            </li>
                            <li class="menu-item "><a href="{% url 'media_coverage' %}">Media
                                coverage</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <h4 class="widget-title">CONTACT US</h4>
                    <div class="textwidget custom-html-widget">
                        <div class="d-flex align-items-center widget-title-bg">
                            <div class="icon">
                                <i class="fa fa-map-marker foot-i" aria-hidden="true"></i>
                            </div>
                            <div class="text">
                                <p>20A, 2nd Floor, Humayun Court Building, Lindsay Street, Behind Light House Cinema,
                                    Dharmatala, Kolkata, West Bengal 700087</p>
                            </div>
                        </div>
                        <div class="d-flex align-items-center widget-title-bg">
                            <div class="icon">
                                <i class="fa fa-phone foot-i" aria-hidden="true"></i>
                            </div>
                            <div class="text">
                                <p>9836796393<br> 9836796000 <br> 91 3322175401&nbsp;/&nbsp;02</p>
                            </div>
                        </div>
                        <div class="d-flex align-items-center widget-title-bg">
                            <div class="icon">
                                <i class="fa fa-envelope foot-i" aria-hidden="true"></i>
                            </div>
                            <div class="text">
                                <p>inifdlindsaystreet@gmail.com</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <h4 class="widget-title">Like Us On Facebook</h4>
                    <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Finifdlindsaystreet%2F&tabs=timeline&width=255&height=300&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=1890878094468767"
                            width="255" height="300" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
                            allowTransparency="true" allow="encrypted-media"></iframe>
                </div>
            </div>
        </div>

        <div id="ht-bottom-footer">
            <p>&copy; Copyright
                <script type="text/javascript">
                    var d = new Date();
                    document.write(d.getFullYear());
                </script>
                INIFD | All Rights Reserved.
            </p>
        </div>
    </footer>